* {
    box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
::-moz-selection{
    color: #111;
    border-bottom: 2px solid #ddd;
}
::selection {
    color: #111;
    border-bottom: 2px solid #ddd;
}
.button a {
    color: #111;
    border-bottom: 2px solid transparent;
    letter-spacing: 2px;
}
.a {
    color: #365779;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
a:visited{
    color: #365779;
    font-weight: 400;
    text-decoration: none;
}
a:hover {
    color: #F25E75;
    border-bottom: 2px solid #F25E75;
	cursor: pointer;
	/* -webkit-animation: hoverFading 0.5s; Safari and Chrome: */
	/* animation: hoverFading 0.5s; */
}
a:link{ /* unvisited link */
    color: #365779;
    text-decoration: none;
}
a:active { /* selected link */
    color: #F25E75;
    border-bottom: 2px solid #ddd;
}
html{
    min-height: 100%;
    position: relative;
    width: 850px;
    background: white;
    color: black;
    font-weight: 100;
	margin: 0px auto 0px auto;
    padding: 0;
    font-family: 'Roboto', Sans-serif;
    font-size: 18px;
    line-height: 30px;
    background: url("images/bg.jpg");
    background-attachment: fixed;
}
body{
    margin-top: 5%;
    color: #111;
    font-size: 18px;
    line-height: 1.6em;
    background: rgba(255, 255, 255, .65);
}
header{
	position: relative;
	width: 100%;
    /* height: 250px; */
    margin-right: -3px;
    letter-spacing: 3px;
    font-weight: 400px;
    font-style: normal;
}
header .title{
    position: relative;
	width: 100%;
    height: 100%;
    padding: 50px 0 0 0;
    line-height: 50px;
    font-size: 40px;
    text-align: center;
    color: #365779;
    text-transform: capitalize;
    font-family: Varela Round, arial, sans-serif;
}
header .title a:link{
    color: #365779;
    text-transform: capitalize;
}
.button{
    position: relative;
    float: left;
    display: block;
    /* width: 25%; */
    padding: 0px 2% 0px 2%;
    height: 100%;
    text-align: center;
    z-index: 2;
    /* background-color: white; */
}
@keyframes hoverFading{
	0% {color: white;}
}
@-webkit-keyframes hoverFading{
	0% {color: white;}
}
main{
    position: relative;
    width: 100%;
}
#canvas{
    position: relative;
    width: 100%;
    border: 2px solid teal;
    max-width: 1100px;
    padding: 25px;
}
main .textbox-side{
    width: 58%;
    margin: 30px 0px 0px 0px;
    vertical-align: top;
    display: inline-block;
    font-size: 16px;
}
main .textbox{
    width: 80%;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    vertical-align: top;
    display: inline-block;
    font-size: 16px;
}
main .section-title{
	padding: 30px 0 15px 0;
    font-size: 20px;
	font-weight: 600;
}
main .publications{
	padding: 0 0 0 40px;
	text-indent: -40px;
}
footer{
    position: relative;
    /* left: 0; */
    /* bottom: 0; */
    /* height: 110px; */
    width: 85%;
    margin-left: 10%;
    margin-top:50px;
    display: inline-block;
}
footer .button{
    width: 30%;
}
#topNav{
    width: 100%;
    text-align: center;
    margin-top:50px;
    display: inline-block;
    line-height:1.6emp;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400px;
    font-style: normal;
}
.links{
    width: 95%;
    margin-left: 7.5%;
    display: inline-block;
}
.page-divider-side {
    line-height: 1.6em;
    margin: -2em 1em 1.6em 1em;
    /* margin-bottom: 1.6em; */
    /* margin-top: 1em; */
    font-size: 12px;
    border-bottom: 2px solid #365779;
    display: block;
    z-index: 1;
    width: 10%;
}
.page-divider {
    line-height: 1.6em;
    margin: -2em 1em 1.6em 1em;
    /* margin-bottom: 1.6em; */
    /* margin-top: 1em; */
    font-size: 12px;
    border-bottom: 2px solid #365779;
    display: block;
    z-index: 1;
    width: 5%;
}
#left{
    margin-left: 1%;
}
#right{
    margin-left: 94%;
    padding-top: 3px;
}
.page-collection {
    float: left;
    position: relative;
    text-align: -webkit-match-parent;
    list-style: none;
}
#mypic{
    display: inline-block;
    margin: 50px 20px 20px 20px;
}
.section-title{
    text-align: center;
    color: #365779;
    font-size: 30px;
}
.section-subtitle{
    color: #365779;
    padding: 15px 0 0 0;
    font-size: 18px;
    font-weight: 600;
}
#publications a{
    font-size: 15px;
    margin-top: -1.5em;
}
#publications p{
    margin-bottom: 20px;
}
#friends{
    text-align: center;
}
#research p{
    font-size: 18px;
    line-height: 22px;
}
